{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" 
              class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#navbar" 
              aria-expanded="false" 
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" 
         href="/">webpr</a>
    </div>
    <div id="navbar" 
         class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'mentions' %}">Mentions</a> </li>
          <li><a href="{% url 'fake' %}">Test_mentions</a>  </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'users:profile'  %}">{% trans "My Profile" %}</a></li>
          <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        {% else %}
          <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
          <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
