<div id="mention_detail" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="addUserLabel" 
     class="modal centered add-user fade">
  <div role="document" 
       class="modal-dialog" 
       style="width: 650px!important">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Mention detail</h5>
        <div>
          <p id="mention_text" 
             style="font-size: 14px"></p>
          <hr>
          <a id="mention_link" 
             href="" 
             target="_blank"> View source </a>
          <hr>
          <button type="submit"  
                  data-dismiss="modal" 
                  class="btn btn-lg btn-blue btn-block" 
                  id="create_user">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>