{# TODO: do we need this? #}
<div id="todo_detail" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="addUserLabel" 
     class="modal centered add-user fade">
  <div role="document" 
       class="modal-dialog" 
       style="width: 650px!important">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div id="detail_comment" > </div>
          <button type="submit" 
                  data-dismiss="modal" 
                  class="btn btn-lg btn-blue btn-block" 
                  id="create_user">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>