<div class="form hidden">
  <h6 class="mb5">Account</h6>
  <div class="custom-dropdown">
    <select class="form-control">
      <option>Oceanic Air</option>
      <option>1</option>
      <option>2</option>
    </select>
  </div>
  <h6 class="mb0">Source</h6>
  <div class="row">
    <div class="col-md-4 pr0">
      <div class="form-inline">
        <div class="form-group">
          <div class="custom-checkbox sm">
            <input type="checkbox" 
                   id="id-twitter-0" 
                   class="hidden">
            <label for="id-twitter-0" 
                   class="btn-switch"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="id-twitter-0">Twitter</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr0">
      <div class="form-inline">
        <div class="form-group">
          <div class="custom-checkbox sm">
            <input type="checkbox" 
                   id="id-facebook-0" 
                   class="hidden">
            <label for="id-facebook-0" 
                   class="btn-switch"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="id-facebook-0">Facebook</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr0">
      <div class="form-inline">
        <div class="form-group">
          <div class="custom-checkbox sm">
            <input type="checkbox" 
                   id="id-yelp-0" 
                   class="hidden">
            <label for="id-yelp-0" 
                   class="btn-switch"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="id-yelp-0">Yelp</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt5">
    <div class="col-md-4 pr0">
      <div class="form-inline">
        <div class="form-group">
          <div class="custom-checkbox sm">
            <input type="checkbox" 
                   id="id-linkedIn-0" 
                   class="hidden">
            <label for="id-linkedIn-0" 
                   class="btn-switch"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="id-linkedIn-0">LinkedIn</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr0">
      <div class="form-inline">
        <div class="form-group">
          <div class="custom-checkbox sm">
            <input type="checkbox" 
                   id="id-g-plus-0" 
                   class="hidden">
            <label for="id-g-plus-0" 
                   class="btn-switch"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="id-g-plus-0">Google+</label>
        </div>
      </div>
    </div>
  </div>
  <h6 class="mb5">Search Terms</h6>
  <textarea rows="3" 
            class="form-control mb10"></textarea>
  <a href="javascript:void(0);" 
     class="btn btn-white btn-block mb10 dismiss-settings">SAVE</a>
  <a href="javascript:void(0);" 
     class="btn btn-white btn-block mb10 dismiss-settings">REMOVE COLUMN</a>
</div>