{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<form method="POST" 
      action="./" 
      class="form-signin">
  {% csrf_token %}
  <div class="logo">
    <img src="{% static 'img/logo-login.png' %}" 
         alt="Logo">
  </div>
  <div class="form-group sm">
    {{ form.email.errors }}
    <input id="{{ form.email.auto_id }}" 
           name="{{ form.email.html_name }}" 
           type="email" 
           placeholder="Email" 
           autofocus="" 
           class="form-control">
  </div>
  <button type="submit" 
          class="btn btn-lg btn-blue btn-block">Send</button>
</form>
{% endblock %}