<div class="sidebar">
  <div class="block-element">
    <div class="nav-title">WEBPR QUICK TOOLS</div>
  </div>
  <div class="block-element">
    <ul class="nav nav-sidebar">
      <li class="inactive">
        <a href="javascript:void(0);">
          <span class="icon icon-efficiency"></span>EFFICIENCY TOOL
        </a>
      </li>
      <li class="inactive">
        <a href="javascript:void(0);">
          <span class="icon icon-merchants"></span>MERCHANT ENGAGEMENT
        </a>
      </li>
      <li class="inactive">
        <a href="javascript:void(0);">
          <span class="icon icon-us-continental-united-states"></span>GEOGRAPHIC TRENDS
        </a>
      </li>
      <li class="inactive">
        <a href="javascript:void(0);">
          <span class="icon icon-resolved"></span>UNRESOLVED COMPLAINTS
        </a>
      </li>
      <li class="inactive">
        <a href="javascript:void(0);">
          <span class="icon icon-analytics"></span>STATISTICS
        </a>
      </li>
      <li class="inactive">
        <a href="javascript:void(0);">
          <i class="icon icon-dollar"></i>ISO REVENUE
        </a>
      </li>
    </ul>
  </div>
</div>